beautifulsoup4
certifi
charset-normalizer
click
cssselect
cycler
feedfinder2
feedparser
filelock
fonttools
idna
jieba3k
joblib
kiwisolver
lxml
matplotlib
newspaper3k
nltk
numpy
packaging
Pillow
pyparsing
python-dateutil
python-rake
PyYAML
regex
requests
requests-file
sgmllib3k
six
soupsieve
tinysegmenter
tldextract
tqdm
urllib3
