DIR_PROJECT="$REPO_SCRIPTS/1003-gayatri-parivar-book-making-programs"
DIR_OUTPUT="$DIR_Y/_tmp_output_1003-gayatri-parivar-book-making-programs"
BOOKNAME="आत्मशक्ति का उच्चस्तरीय नियोजन - Text for Audiobook"
BOOK_URL_PREFIX_WITH_DOT_IN_END="http://literature.awgp.org/book/Aatm_shakti_Ka_Uchchastariye_Niyojan/v2."
LOCALPATH_PREFIX_WITH_DOT="file://$DIR_OUTPUT/v2." ; 
NUMPAGES_TO_EXTRACT=9 ; 
