DIR_PROJECT="$REPO_SCRIPTS/1003-gayatri-parivar-book-making-programs"
DIR_OUTPUT="$DIR_Y/_tmp_output_1003-gayatri-parivar-book-making-programs"
BOOKNAME="Audiobook - अंधविश्वास को उखाड़ फेंकिये"
BOOK_URL_PREFIX_WITH_DOT_IN_END="http://literature.awgp.org/book/andhvishwas_ko_ukhad_fenkiye/v1."
LOCALPATH_PREFIX_WITH_DOT="file://$DIR_OUTPUT/v1." ; 
NUMPAGES_TO_EXTRACT=48 ; 
