DIR_PROJECT="$REPO_SCRIPTS/1003-gayatri-parivar-book-making-programs"
DIR_OUTPUT="$DIR_Y/_tmp_output_1003-gayatri-parivar-book-making-programs"
BOOKNAME="पुनर्जन्म एक ध्रुव सत्य- Audiobook"
BOOK_URL_PREFIX_WITH_DOT_IN_END="http://literature.awgp.org/book/Punarjanam_Ek_Dhruv_Satya/v2."
LOCALPATH_PREFIX_WITH_DOT="file://$DIR_OUTPUT/v2." ; 
NUMPAGES_TO_EXTRACT=7 ; 
 
